@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cormorant+Garamond:ital,wght@0,400;1,300&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@300;500;700;800&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500&family=Outfit:wght@400;700&family=Poppins&family=Red+Hat+Display:wght@500;700;900&family=Roboto:ital,wght@1,300&family=Young+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f2f2f2;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .section{
    width: 262px;
}

.container .section1{
    padding: 30px;
    background-color: #e38826;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 389px;
}

.container .section2{
    padding: 30px;
    background-color: #006970;
    height: 389px;
}

.container .section3{
    padding: 30px;
    background-color: #004241;
    height: 389px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .section1 h1 , .container .section2 h1 , .container .section3 h1{
    padding: 20px 0px;
    color: #f2f2f2;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

.container .section1 p , .container .section2 p , .container .section3 p{
    padding-bottom: 20px;
    padding-right: 20px;
    line-height: 1.6;
    color: #f2f2f2;
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    opacity: 0.7;
}

.container .section1 .btn , .container .section2 .btn , .container .section3 .btn{
    padding-top: 40px;
    padding-bottom: 10px;
}

.container .section1 button{
    padding: 10px;
    width: 130px;
    border-radius: 30px;
    border: none;
    color: #e38826;
    background-color: #f2f2f2;
    font-family: 'Lexend Deca', sans-serif;
}

.container .section2 button{
    padding: 10px;
    width: 130px;
    border-radius: 30px;
    border: none;
    color:#006970 ;
    background-color: #f2f2f2;
    font-family: 'Lexend Deca', sans-serif;
}

.container .section3 button{
    padding: 10px;
    width: 130px;
    border-radius: 30px;
    border: none;
    color: #004241;
    background-color: #f2f2f2;
    font-family: 'Lexend Deca', sans-serif;
}

.container .section1 button:hover , .container .section2 button:hover , .container .section3 button:hover{
    cursor: pointer;
    background: transparent;
    border: white solid 2.5px;
    color: white;
}

@media screen and (max-width: 760px) {

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .container .section1{
        padding: 30px;
        background-color: #e38826;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: 389px;
    }
    
    .container .section3{
        padding: 30px;
        background-color: #004241;
        height: 389px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}